.hero{
    min-height: 60vh;
    width: 100%;
    background:linear-gradient(180deg,#328329,#e1ffea22 60%);
    display: flex;
    padding: 2vh 5vw;
    justify-content: space-between;
}
.hero-left{
    padding-left: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;


    
}
.hero-left h2{
    color: #090909;
    font-size: 4vw;
    font-weight: 600;
    white-space: nowrap;
}
.hero-left p{
    color: #171717;
    font-size: 3vw;
    font-weight: 800;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 15vw;
    height: 3.5vw;
    border-radius: 50px;
    margin-top: 3vw;
    background: #ff4141;
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
}
.hero-right{

    display: flex;
    align-items: center;
    justify-content: center;
}